@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #663399;
  overflow-x: hidden;
}

.hero {
  text-align: Left;
  display: flex;
  height: 100vh;
  font-size: 2rem;
  background: #663399;
  color: #fff;
  justify-content: start;
  align-items: center;
  position: relative;
}

.hero h2 {
  margin-left: 10%;
}

.hero > a {
  cursor: pointer;
  position: absolute;
  color: #ffffff96;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}

.hero > a:hover {
  color: #fff;
}

.year {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: #ccc;
  width: 100vw;
  background: #8441b1;
}

.year p {
  position: absolute;
}

.year .button {
  position: relative;
  top: 0;
  left: 43vw;
}

.pictures {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  height: 100%;
  background: #663389;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 40px 0;
  height: 350px;
  width: 280px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.01);
}

.card > img {
  border-radius: 10px 10px 0 0;
}

.card > h2 {
  margin-top: 20px;
  color: #000;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  width: 100px;
  height: 30px;
  background: #663399;
  border-radius: 5px;
}

.button > a {
  color: #fff;
  text-decoration: none;
}

.button:hover {
  background: #3a165e;
}

@media (max-width: 1200px) {
  .pictures {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero h2 {
    margin: auto;
    text-align: center;
  }

  canvas {
    display: none !important;
  }

  .year .button {
    left: 40vw;
  }
}

@media (max-width: 550px) {
  .pictures {
    grid-template-columns: 1fr;
  }

  .hero h2 {
    font-size: 2rem;
  }

  .year .button {
    left: 30vw;
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #734ac7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5a32a8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #56328b;
}
